@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/popover2/lib/css/blueprint-popover2.css";

body {
  font-family: 'Abril Fatface', cursive;
  font-family: 'Climate Crisis', cursive;
}

.App {
  text-align: center;
}
a:hover {
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


img {
  border-radius: 4px;
}

.bp4-navbar-divider {
  border-left: 1px solid silver;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.container {
  margin-top: 10px;
}

.grid {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  margin: 10px;
  max-width: 250px;
  min-width: 250px;
}

.bp4-button:not([class*=bp4-intent-]) {
  box-shadow: none;
  background-color: white;
}

.bp4-button:not([class*=bp4-intent-]):hover {
  box-shadow: none;
  background-color: white;
}

.menu-items div, .menu-items a {
  margin-left: 5px;
  margin-right: 5px;
}

.bp4-navbar {
  box-shadow: none;
  border-bottom: 0.5px solid silver;
  height: 75px;
  padding: 10px 15px;
}
.onHoverPanel {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  background-color: silver;
  padding: 50px 50px;
}
.img1 {
  background-image: url('https://thehousecannabis.ca/static/ec2cc83b5630cab0eb8e9ca65e1f8e63/08684/hero_hd_eebbc18ed0.avif');
}

.img2 {
  background-image: url('https://thehousecannabis.ca/static/063f1e2dd5cb8770dadfe88e5305fde6/b44c8/delivery_hd_3a79c30ade.avif');
}

.img3 {
  background-image: url('https://thehousecannabis.ca/static/71fe545981f7ce7fa82a6a8be6b35b8d/afd04/hero_specials_1147f530bb.avif');
}

.onHoverPanel:hover {
  box-shadow: 5px 5px 11px rgba(53, 52, 52, 0.2); 
  transition: 0.5s;
  cursor: pointer;
}

.title {
  font-size: 42px;
  color: rgb(45, 43, 44);
  margin-bottom: 25px;
  z-index: 2;
  width: 45%;
  font-weight: 700;
}
.header {
  font-size: 26px;
  color: rgb(45, 43, 44);
  margin-bottom: 15px;
  z-index: 2;
  width: 32.5%;
  font-weight: 500;
}

.panel1 {
  min-height: 350px;
}

.panel2 {
  min-height: 720px;
}

.shortPanel {
  min-height: 350px;
}

.tallPanel {
  min-height: 720px;
}

.happy {
  background-image: url('https://thehousecannabis.ca/static/fc6d9d6dd958ccb752033a8098089bab/c6cd1/happy_resize_6f810886c4.avif');
}

.calm {
  background-image: url('https://thehousecannabis.ca/static/d19eefd9a53bf5f7232e5426ea8a0e9a/c6cd1/calm_resize_a3de15e265.avif');
}

.energetic {
  background-image: url('https://thehousecannabis.ca/static/01f246e94944c3d417446d0b2c5fd05c/64339/energetic_resize_e7478c3950.avif');
}

.sleepy {
  background-image: url('https://thehousecannabis.ca/static/557c1dbd58da105da307e732b6e887b9/c6cd1/sleepy_resize_8af5e9ca9c.avif');
}

.creative {
  background-image: url('https://thehousecannabis.ca/static/15595b8544a5e94738c15fb683cb7944/c6cd1/creative_resize_5c09c42e2e.avif');
}

.navbar-collapse {
  padding: 0 20px;
}

.navbar .bp4-button, .navbar .bp4-button:hover {
  background-color: transparent;
}
.navbar-toggler {
  position: relative;
  right: 10px;
}
.badge .bp4-button .bp4-icon {
  color: white !important;
}

.badge .bp4-button .bp4-icon:hover {
  color: silver !important;
}

.rounded-pill {
  padding: 2px 5px 2px 15px;
}

.bottomSection {
  border-top: 1px solid silver;
  padding-top: 5px;
  position: absolute;
  bottom: 107px;
  text-align: right;
  width: 93%;
}

.chakra-slide .chakra-modal__body {
  padding: 5px 0px 5px 5px;
}

.bp4-toast-container {
  position: fixed !important;
  padding: 95px 20px 20px;
  z-index: 999 !important;
}

:focus {
  outline: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content-container {
  max-height: 88%;
  overflow-y: auto;
  overflow-x: hidden;
}

.productCard {
  margin: 5px;
  min-height: 550px;
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .productCard {
      min-height: 460px;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .productCard {
      min-height: 460px;
    }
}



@media only screen and (max-width: 600px) {
  .addToCart {
    margin-left: 180px;
  }
  .content-container {
    max-height: 86%;
  }
  .title, .header {
    width: 100%;
  } 
  .panel2, .tallPanel {
    min-height: 350px;
  }
  .productCard {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 300px) {
  .content-container {
    max-height: 80%;
  }
}