body {
  margin: 0;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Climate Crisis', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Abril Fatface', cursive;
  font-family: 'Climate Crisis', cursive;
}
